<br>
<div class="container">
  <%= render partial: "shared/collect", locals: {topic: @topic} %>
  <div class="row">
    <div class="col-md-4">
      <h1><%= link_to @topic.user.name, user_path(@topic.user) %></h1>
      <%= render partial: "shared/friend", locals:{user:@topic.user} %>
    </div>
    <div class="col-md-8">
      <%= image_tag @topic.image, height: 150, width: 210, class:"img-responsive img-rounded" %>
      <h1><%= @topic.title %></h1>
      <p>
        <% @topic.categories.each do |category| %>
          <%= category.name %>
        <% end %>
      </p>
      <p><%= @topic.content %></p>
      <p>Replise count : <%= @topic.comments_count %></p>
      <p>Viewed count : <%= @topic.viewed_count %></p>
      <% if current_user.admin? || @topic.user.email == current_user.email %>
        <%= link_to 'Edit', edit_topic_path if @topic.user.email == current_user.email %>
        <%= link_to 'Delete', topic_path, method: :delete, data: { confirm: "Are you sure?"} %>
      <% end %>
    </div>

    <div class="clearfix"></div>

    <hr>  
  </div>
</div>

<hr>

<div class="container">
  <% @topic_comments.each do |comment| %>
  <div id=comment-<%= comment.id.to_s %>>
    <h4><%= link_to comment.user.name, user_path(comment.user) %></h4>
    <%= render partial: "shared/friend", locals:{user:comment.user} %>
    <p><%= simple_format comment.content %></p>
    <p class="text-muted">
      <em><%= time_ago_in_words(comment.created_at) %> ago</em>
      <% if comment.user.email == current_user.email %>
        <div id=links-<%= comment.id %>>
          <%= link_to "Edit", edit_topic_comment_path(@topic.id, comment.id), remote: true %>
          <%= link_to "Delete", topic_comment_path(@topic, comment), method: :delete, data: { confirm: "Are you sure?"}  %>
        </div>
      <% end %>
    </p>
  </div>
  <hr>
  <% end %>
  <div>
    <%= paginate @topic_comments, theme: 'twitter-bootstrap-4' %>
  </div>

  <!-- 新增評論的表單輸入框 -->
  <%= form_for [@topic, @comment] do |f| %>
  <div class="form-group">
    <%= f.text_area :content, placeholder: "留個言吧", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
    <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
  </div>
  <% end %>

  <div class="col-md-4">
    <%= link_to 'Back to index', root_path %>
  </div>

</div>
