<br>
<div class="container">
  <%= render partial: "shared/collect", locals: {topic: @topic} %>
  <div class="row">
    <div class="col-md-4">
      <h1><%= link_to @topic.user.name, user_path(@topic.user) %></h1>
      <%= render partial: "shared/friend", locals:{user:@topic.user} %>
    </div>
    <div class="col-md-8">
      <h1><%= @topic.title %></h1>
      <p>
        <% @topic.categories.each do |category| %>
          <%= category.name %>
        <% end %>
      </p>
      <p><%= @topic.content %></p>
      <p>Replise count : <%= @topic.comments_count %></p>
      <p>Viewed count : <%= @topic.viewed_count %></p>
      <% if current_user.admin? || @topic.user.email == current_user.email %>
        <%= link_to 'Edit', edit_topic_path if @topic.user.email == current_user.email %>
        <%= link_to 'Delete', topic_path, method: :delete, data: { confirm: "Are you sure?"} %>
      <% end %>
    </div>

    <div class="clearfix"></div>

    <hr>  
  </div>
</div>

<hr>

<div class="container">
  <% @topic_comments.each do |comment| %>
  <div id=comment-<%= comment.id.to_s %>>
    <h4><%= link_to comment.user.name, user_path(comment.user) %></h4>
    <%= render partial: "shared/friend", locals:{user:comment.user} %>
    <p><%= simple_format comment.content %></p>
    <p class="text-muted">
      <em><%= time_ago_in_words(comment.created_at) %> ago</em>
      <% if current_user.admin? || comment.user.email == current_user.email %>
        <a href="" onClick="editComment()">Edit</a>
        <%= link_to "Delete", topic_comment_path(@topic, comment), method: :delete, data: { confirm: "Are you sure?"}  %>
      <% end %>
    </p>
  </div>
  <hr>
  <% end %>
  <div>
    <%= paginate @topic_comments, theme: 'twitter-bootstrap-4' %>
  </div>

  <!-- 新增評論的表單輸入框 -->
  <%= form_for [@topic, @comment] do |f| %>
  <div class="form-group">
    <%= f.text_area :content, placeholder: "留個言吧", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
    <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
  </div>
  <% end %>

  <div class="col-md-4">
    <%= link_to 'Back to index', root_path %>
  </div>

</div>
<script>
  function editComment() {
    console.log(event.target)
    event.preventDefault()
    var et = event.target
    var commentId = et.parentElement.parentElement.id.match(/^comment-(.*)$/)[1]
    et.textContent = "Cancel"
    var contentDOM = et.parentElement.previousElementSibling.previousElementSibling

    var oriContent = $(contentDOM)[0].textContent
    $($(contentDOM)[0]).replaceWith("<form accept-charset='UTF-8' action=" + window.location.pathname + '/comments/' + commentId + " method='post'><textarea name='comment[content]' class='form-control' style='min-width: 100%'>" + oriContent + "</textarea><input name='commit' type='submit' value='Update'><input type='hidden' name='authenticity_token' value=" + $('#new_comment input')[1].getAttribute('value') + "></form>")

    et.setAttribute('ori-content', oriContent)
    et.setAttribute('onClick', 'cancelEdit()')

    et.nextElementSibling.style.display = 'none'
  }

  function cancelEdit() {
    event.preventDefault()
    var et = event.target
    et.textContent = "Edit"
    et.setAttribute('onClick', 'editComment()')

    var contentDOM = et.parentElement.previousElementSibling.previousElementSibling
    console.log(et.getAttribute('ori-content'))
    $($(contentDOM)[0]).replaceWith("<p>" + et.getAttribute('ori-content') + "</p>")
    et.removeAttribute('ori-content')

    et.nextElementSibling.style.display = 'inline'
  }
</script>



