<br>
<%= render partial: "shared/user_info", locals:{user:@user}  %>
<div class="clearfix"></div>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to 'My Post', user_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Comment', comments_user_path, class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Collect', collects_user_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Draft', drafts_user_path, class:"nav-link" if @user == current_user %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Friend', friends_user_path, class:"nav-link" if @user == current_user %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="table table-striped table-bordered">
        <tbody>
          <% @comments.each do |comment| %>
          <tr>
            <td>
              <h5><%= link_to comment.topic.title, topic_path(comment.topic) %></h5>
              <p></p><%= comment.content %><p></td>
            <td>
              <% if comment.user.email == current_user.email %>
                <%= link_to 'Edit', topic_path(comment.topic) %>
                <%= link_to 'Delete', topic_comment_path(comment.topic, comment), method: :delete, data: { confirm: "Are you sure?"} %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
