<br>
<%= render partial: "shared/user_info", locals:{user:@user}  %>
<div class="clearfix"></div>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to 'My Post', user_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Comment', comments_user_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Collect', collects_user_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Draft', drafts_user_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Friend', friends_user_path, class:"nav-link active" %>
        </li>
      </ul>
    </div>
  </div>
</div>
