<br>
<%= render partial: "shared/user_info", locals:{user:@user}  %>
<div class="clearfix"></div>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to 'My Post', user_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Comment', comments_user_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Collect', collects_user_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Draft', drafts_user_path, class:"nav-link" if @user == current_user %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Friend', friends_user_path, class:"nav-link active" if @user == current_user %>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h5>waiting for response</h5>
        <% @waiting_friendings.each do |waiting_friending| %>
          <%= image_tag waiting_friending.avatar, height: 30, width: 30, class:"img-responsive img-rounded" unless waiting_friending.avatar.blank? %>
          <p><%= waiting_friending.name %></p>
        <% end %>
        <hr>
        <h5>waiting for me response</h5>
        <% @waiting_frienders.each do |waiting_friender| %>
          <%= image_tag waiting_friender.avatar, height: 30, width: 30, class:"img-responsive img-rounded" unless waiting_friender.avatar.blank? %>
          <p><%= waiting_friender.name %></p>
          <%= link_to "Accept", friendship_path(5), method: :patch, class: "btn btn-primary" %>
          <%= link_to "Ignore", class: "btn btn-primary" %>
        <% end %>
        <hr>
        <h5>Friend</h5>
        <% @friends.each do |friend| %>
          <%= image_tag friend.avatar, height: 30, width: 30, class:"img-responsive img-rounded" unless friend.avatar.blank? %>
          <p><%= friend.name %></p>
        <% end %>

        
      
    </div>
  </div>
</div>

