<!DOCTYPE html>
<html>
  <head>
    <title>DojoForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- 導覽列 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "DojoForum", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><%= link_to 'Feeds', feeds_topics_path, class:"nav-link" %></li>
          <li class="nav-item"><%= link_to 'All Post', topics_path, class:"nav-link" %></li>
          <li class="nav-item"><%= link_to 'New Post', new_topic_path, class:"nav-link" %></li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if current_user %>
            <li class="nav-item"><span class="navbar-text"><%= current_user.email %></span></li>
            <% if current_user.admin? %>
            <li class="nav-item"><%= link_to '(Admin後台)', admin_root_path, class:"nav-link" %></li>
            <% end %>
            <li class="nav-item"><%= link_to 'Profile', user_path(current_user), class:"nav-link" %></li>
            <li class="nav-item"><%= link_to 'Log out', destroy_user_session_path, method: :delete, class:"nav-link" %></li>
          <% else %>
            <li><%= link_to 'Log in', new_user_session_path, class:"nav-link" %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <% if flash[:notice] %>
    <div class="container">
      <div class="row">
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </div>
      </div>
    </div>
    <% end %>

    <% if flash[:alert] %>
    <div class="container">
      <div class="row">
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= alert %>
        </div>
      </div>
    </div>
    <% end %>

    <%= yield %>
  </body>
</html>
